body {
    background-color: #333;
    color: white;
    height: 100%;
    margin: 0px;
    padding: 10px;
}
a {
    color: #5cf;
}
a:visited {
    color: #Fc5;
}
a:hover {
    color: #5Fc;
}
code {
    color: yellow;
}
