<p>The simplest example I can think of requires at least two scripts</p>
<ol>
    <li>An entry-point script (<code>main.js</code>)</li>
    <li>Some simple dependency script (<code>dep.js</code>)</li>
</ol>
<p>And, of course, a page to load all of this, <code>simple.html</code></p>
<p>And to keep the example super-simple, these scripts will live alongside require.js so we have
    a structure like:</p>
<pre data-prettify="false">
    simple.html
    `- js
        |- main.js
        `- nested
            `- dep2.js
        |- require.js
        `- dep.js

</pre>

<code>simple.html</code> forms the entry-point for the application. To get RequireJS working,
this is the place where we will reference require.js. We also add a <code>data-main</code> attribute
to the script inclusion with a path <i>relative to the location of index.html</i> for RequireJS to load
up. We'll use <code>main.js</code> for this. So our simple.html could look like:

<pre data-no-run="true">
&lt;html&gt;
    &lt;head&gt;
        &lt;script src="js/require.js" data-main="js/main.js"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;/body&gt;
&lt;/html&gt;
</pre>
<p>
    Meanwhile, our first simple dependency file is really simple:
</p>
<pre data-no-run="true">
define([], function() {
    return {
        name: 'The simple dependency'
    };
});
</pre>
<p>Just for interest' sake, let's include an equally simple nested dependency, just so we can see it in
    action:</p>
<pre data-no-run="true">
define([], function() {
    return {
        text: 'The nested dependency'
    };
});
</pre>
<p>What does the above code do? Quite simply, it <code>define</code>s a module within the AMD world. The first
    argument to <code>define</code> is an array of dependencies, as named by RequireJS (or, as we see later,
    ourselves, if we take care of script loading). The second is a function to run for the currently-described
    module. The function is passed the <i>output</i> from resolved dependencies as arguments:
The <code>main.js</code> file is a rather trivial example of dependency usage:
<pre data-no-run="true">
define(['dep', 'nested/dep2'], function(config1, config2) {
    var body = document.getElementsByTagName('body')[0];
    body.innerHTML = config1.name + config2.text;
});
</pre>
<a href="demo/simple/index.html" target="_blank">View this demo running in a separate window</a>
<p>This simple example shows the easiest usage of RequireJS: to resolve dependency scripts by simply
    naming them as dependencies, sans the <code>.js</code> extension, as if they were placed relative
    to 
<br/>

